# dependencies
node_modules/

# builds
build/
dist/

# cache/artifacts
.cache/
.eslintcache
*.tsbuildinfo
*.map
.vite/
vite.config.ts.timestamp-*
.storybook-out/
.parcel-cache/

# testing
coverage/
jest-html-reporters-*/ 

# env (keep example)
.env
.env.*.local
.env.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# misc
*.local
*.log
